/* TODO Add site wide styles */

* {
    font-family: MaisonNeue,Segoe UI,Helvetica Neue,-apple-system,system-ui,BlinkMacSystemFont,Roboto,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

button {
    background-color: #5577ff;
}

body {
    background-color: #f7f7fa;
}
