.sign-up-page-wrapper{
    height: 625px;
    display: flex;
    background-size: cover;
  }


.sign-up-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 249px;
    margin: auto;
    background: linear-gradient(180deg, rgba(0, 0, 0, .95) 20%, rgba(0, 0, 0, 0.6) 80%);
    padding: 50px;
    color: white;
    border-radius: 4px;
  }

  .sign-up-page-container > input {
    width: 235px;
    height: 25px;
    margin: 5px 0px;
    padding: 0px 5px;
  }

  .sign-up-page-names > input {
    width: 110.5px;
    height: 25px;
    margin: 5px 0px;
    padding: 0px 5px;
  }

  .sign-up-page-names > select {
    width: 124.5px;
    height: 29px;
    padding: 0px
  }

  .sign-up-page-names-labels{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .signup-form-button {
    width: 250px;
    height: 35px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .new-platepal-log-in {
      color: #0073bb;
      text-decoration: none;
    }

    .signup-form-errors {
      color: #ff5353;
  }

  .signup-form-date-errors {
    color: #ff5353;
    display: grid;
    grid-template-columns: 1fr 1fr
}
