.activities-manage-container-background {
    background-color: white;
    height: calc(100% - 81px);
    padding: 20px;
}

.activities-manage-container {
    width: 1216px;
    margin: auto;
}

.activities-manage-headers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
}
